/**
 * 全页面渲染或可复用的代码放在这儿
 */
* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif, "Microsoft YaHei";
}

body {
    height: 100%;
    background-color: #e3e3e3;
}
li{
   list-style: none;
}
a{
    text-decoration: none;
}

/*包裹块*/
.bg-white {
    background-color: #ffffff;
}

.bg-purple {background-color: #522A5C}
.bg-purple2 {background-color: #5900B2}
.bg-orange {background-color: #D9A300;}
.bg-red { background-color: #8C2300;}

/*清除浮动*/
.clearfix:after {
    display: block;
    height: 0;
    content: ".";
    clear: both;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

/**
 * index.html
 */
.topNav{ 
    width: 100%;
    height: 80px;
    background: #522a5c;
    position: relative;
}
.wrap{
    width: 980px;
    height: 80px;
    margin: 0 auto;
    position: relative;
    }
.wrap .myLogo{
    display: block;
    float: left;
    font-size: 18px;
    color: #fff;
    height: 18px;
    margin-top: 48px;
}
.wrap ul{
    position:absolute;
    float: right;
    height: 20px;
    right: 0;
    bottom: 12px;}
.wrap li{float: right;}
.wrap li a{display:inline-block;font-size: 14px;padding: 0 14px;color: #fff;}
.topNav .logo{position: absolute;right: 10px;bottom: 0;}

.banner {
    width: auto;
    height: 600px;
    background-image: url("../img/banner.jpg");
    background-size: cover;
}

.banner-container {
    position: relative;
    width: 980px;
    height: 600px;
    margin: 0 auto;
}

.banner-text {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 400px;
    padding: 10px 10px 30px 10px;
    color: #F4F4F4;
    background-color: #ffffff;
    background: linear-gradient(top,
    rgba(244, 244, 244, 0.7) 0%,
    rgba(244, 244, 244, 0.5) 75%,
    rgba(244, 244, 244, 0) 100%
    );
    background: -webkit-linear-gradient(top,
    rgba(244, 244, 244, 0.7) 0%,
    rgba(244, 244, 244, 0.5) 75%,
    rgba(244, 244, 244, 0) 100%
    );
}

.banner-text h1 {
    text-align: right;
    font-size: 14px;
    margin-bottom: 12px;
}

.banner-text article {
    font-size: 12px;
    line-height: 150%;
    text-indent: 2em;
}

.blog-container {
    width: 980px;
    margin: 10px auto 100px;
    overflow: hidden;
}

.blog-list {
    float: left;
    width: 320px;
    margin-right: 10px;
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.blog-list:last-child {
    margin-right: 0;
}

.blog-list img {
    width: 300px;
    height: 180px;
    margin: 10px 10px 15px 10px;
}

.blog-list p {
    padding: 0 30px 25px 30px;
    line-height: 170%;
    font-size: 12px;
    text-indent: 2em;
}
.intro-container {
    width: 100%;
    background-color: #ffffff;
    padding-bottom: 50px;
}
.intro-container img {
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: -50px;
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.intro-container h1 {
    font-family: "Century Gothic", sans-serif;
    font-size: 20px;
    font-weight: normal;
    text-align: center;
}
.intro-container article {
    font-size: 14px;
    width: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    line-height: 170%;
    text-indent: 2em;
}
/**
 * blog.html
 */

/**
 * gallery.html
 */
.nav-color1{border-top: 5px solid #3F1D4A;}
.nav-color2{border-top: 5px solid #D7B8E0;}
.nav-color3{border-top: 5px solid #C68FFF;}
.nav-color4{border-top: 5px solid #FD977A;}
.nav-color5{border-top: 5px solid #3F1D4A;}

/** 头部部分 */
.gl-header {
    background: #401B4B;
    width: 100%;
    height: 80px;
    position: relative;

    color: white;
}

.gl-header .logo {
    width: 100px;
    height: 30px;
    position: absolute;
    bottom: 16px;
    left: 110px;
}

.gl-header nav {
    position: absolute;
    right: 115px;
    bottom: 12px;
}

.gl-header nav ul li {
    display: inline-block;
    height: 20px;
    min-width: 50px;
    cursor: default;
}

.gl-header nav ul li a {
    color: white;
}

.gl-container { 
    position: relative;
    margin: 0 110px;
    background: white;
}

.gl-nav {
    margin: 20px 110px 0;
}

.gl-container ul, .gl-nav ul {
    position: relative;
    padding-left: 0;
}
.gl-nav ul li {
    box-sizing: border-box;
    float: left;
    height: 50px;
    padding: 15px 20px 20px;
    border-right: 1px solid #EAEAEA;
    border-bottom: 1px solid #EAEAEA;
    background: white;
}

.gl-nav ul li:hover {
    border-bottom: 1px solid white;
    cursor: pointer;
}

.gl-nav ul li:hover a {
    color: red;
}

.gl-container .m-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 710px;
}
.gl-container .m-right {
    position: absolute;
    top: 0;
    left: 730px;
    width: 260px;
} 
.m-right .search-container {
    padding: 20px;
    background-color: white;
}
.search-container .search{
    position: relative;
}
.search-container .search .search-text {
    width: 100%;
    height: 41px;
    border: 0;
    background: url(../img/search.png) no-repeat center left;
    border: 1px solid #ccc;
    padding-left: 40px;
    font-size: 16px;
    z-index: 101;
}
.search-container  .search .search-text:focus {
    border: 1px solid black;
    outline: 0;
    z-index: 101;
}
.search-container .search .search-btn:focus {
    outline: 0;
}
.search-container .search .search-btn {
    position: absolute;
    top: 1px;
    right: 1px;
    width: 50px;
    height: 39px;
    border: 0;
    z-index: 100;
    cursor: pointer;
}

/*排行榜 start*/
.hot-container {
    margin-top: 10px;
    padding: 20px 15px;
    background-color: white;
}
.hot-container .title {
    margin-bottom: 25px;
    color: #666;
}
.hot-list li {
    display: block;
    margin-bottom: 12px;
   
}
.hot-list li div {
    float: left;
}
.hot-list li .number {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    line-height: 18px;
    border-radius: 9px;
    text-align: center;
    background: #522A5C;
    color: white;
}
.hot-list li .progress {
    width: 100px;
    height: 16px;
    margin-right: 10px;
    border: 1px solid #522A5C;
    background: white;
}
.hot-list li .progress div {
    height: 100%;
    background: #522A5C;
}
.hot-list .progress .per100 {width: 100%; }
.hot-list .progress .per80 {width: 80%; }
.hot-list .progress .per60 {width: 60%; }
.hot-list .progress .per40 {width: 40%; }
.hot-list .progress .per20 {width: 20%; }
.hot-list li .text {
    width: 80px;
    height: 16px; 
    line-height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #522A5C;
}
/*排行榜 end*/

/**图片 start**/
.m-list {
   position: relative;
   height: 700px;
   background: white;

}

.m-list .item  {position: absolute; cursor: pointer;}
.m-list .item:hover  {outline: 2px solid red;}
.m-list .item1 {left: 20px; top: 20px;}
.m-list .item2 {left: 360px; top: 20px;}
.m-list .item3 {left: 530px; top: 20px;}
.m-list .item4 {left: 20px; top: 262px;}
.m-list .item5 {left: 190px; top: 262px;}
.m-list .item6 {left: 360px; top: 192px;}
.m-list .item7 {left: 530px; top: 232px;}
.m-list .item8 {left: 20px; top: 454px;}
.m-list .item9 {left: 190px; top: 494px; }
.m-list .item10 {left: 360px; top: 364px; }

/*单个图片*/
.m-list .item .introduce {
   box-sizing: border-box;
   position: relative;
   width: 160px;
   line-height: 20px;
   padding: 12px 12px 12px 50px;
   margin-top: -4px;
   color: white;
}
.m-list .item1 .introduce {width: 330px;}
.m-list .item .introduce .icon {
   position: absolute;
   top: 12px;
   left: 12px;
   width: 28px;
   height: 28px;
   line-height: 28px;
   text-align: center;
   border-radius: 15px;
   border: 1px solid white;
}
/*图片end*/

.m-list .item .introduce p {
   font-size: 12px;
   word-break: break-all;
   word-wrap: keep-all;
   
}
/*加载更多*/
.gl-container .loadmore-container {
    margin: 10px auto;
    text-align: center;
    background: white;
}
.gl-container  .loadmore-container .loadmore {
    display: inline-block;
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
    background: url(../img/loadmore.png) no-repeat left center;
    background-size: 20px 20px;
}

/**
 * about.html
 */
.about-container{
	width:980px;
	margin:80px auto 0;
	position:relative;
	height:1300px;
}
.about-container .left-box{
	width:487px;
	float:left;
	background-color:#fff;
	font-size:20px;
	height:100%;
	position:relative;
}
.about-container .right-box{
	width:487px;
	float:right;
	background-color:#fff;
	font-size:14px;
	height:100%;
	position:relative;
}
.position-img1{
	position:absolute;
	width:120px;
	height:120px;
	left:50%;
	margin-left:-60px;
	top:-30px;
	border-radius:65px;
	border:8px solid #e3e3e3;
	z-index:2;
}
.img-100{
	position:absolute;
	width:100px;
	height:100px;
	left:50%;
	margin-left:-50px;
	border-radius:65px;
	border:8px solid #e3e3e3;
	z-index:2;
}
.position-img2{
	top:220px;
}
.position-img3{
	top:430px;
}
.position-img4{
	top:800px;
}
.left-box .name{
	top:120px;
	position:absolute
	;right:80px;
}
.right-box .intro{
	top:120px;
	position:absolute;
	left:40px;
	padding-right:100px;
	text-indent:2em;
}
.left-box .contact{
	position:absolute;
	top:340px;
	right:80px;
}
.right-box .contact{
	position:absolute;
	top:340px;
	left:40px;
	line-height:24px;
}
.left-box .education{
	position:absolute;
	top:560px;
	right:80px;
}
.right-box .education{
	position:absolute;
	top:560px;
	left:60px;
}
.education .school{
	line-height:24px;
}
.education .a{
	margin-top:40px;
}
.education .b{
	margin-top:20px;
}
.left-box .internship{
	position:absolute;
	top:925px;
	right:80px;
}
.right-box .internship{
	position:absolute;
	top:925px;
	left:60px;
	line-height:20px;
}
.internship .company{
	margin-bottom:34px;
}
.center-num{
    border: 5px solid #e3e3e3;
    border-radius: 10px;
    left: 50%;
    line-height: 28px;
    margin-left: -40px;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 2;
	background-color:#fff;
}
.edu_08{
    top: 560px;
}
.edu_09{
    top: 630px;
}
.edu_15{
    top: 700px;
}

.int_14{
    top: 925px;
}
.int_15{
    top: 1000px;
}

/**
*footer.css
*/
.footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: #000;
}
.footer-nav{
    width: 100%;
    height: 40px;
    border-bottom: 1px solid #888;
}
.footer-nav li{
    position: relative;
    float: left;
    left: 40%;
    margin-left: 30px;
    line-height: 40px;
}
.footer-links ul{
    float: left;
    margin-left: 10%;
    text-align: center;
}
.footer h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 15px;
    color: #888;
}
.footer a {
    text-decoration: none;
}
.footer-nav li,
.footer-links li,
.copyright p {
    color: #fff;
}
.footer li {
    list-style: none;
    font-size: 15px;
}
.footer-links li:hover {
    text-decoration: underline;
}
.copyright {
    margin: 285px auto 0 auto;  
    text-align: center;  
}
.copyright p {
    margin-bottom: 20px;
}